<!-- <app-navbar></app-navbar> -->
<div class="container-fluid">

    <h1>
        Ciudad <small>Registro de Ciudad</small> </h1>
    <hr>
    <div class="row text-right">
        <div class="col">
            <button class="btn btn-danger" routerLink="/home/cities">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
        </div>
    </div>

    <div class="row animated fadeIn faster">
        <div class="col">

            <form (ngSubmit)="guardar( f )" #f="ngForm">


                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre de ciudad" [(ngModel)]="city.name" name="name" required>
                </div>

                <hr>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary w-25">
                <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
            </form>


        </div>
    </div>
</div>